* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 90%;
  margin: 0 auto;
}

h2 {
  margin-bottom: 15px;
  font-size: 2rem;
  font-family: sans-serif;
}

form {
  margin-bottom: 13px;
}

input {
  width: 100%;
  color: #444;
  font-size: 0.9rem;
}

.card-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid gray;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  flex-grow: 1;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}
